@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slideOut {
	0% {
		right: 20px;
	}
	100% {
		right: -300px;
	}
}

@keyframes slideIn {
	0% {
		right: -300px;
	}
	100% {
		right: 20px;
	}
}
