@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

$accent: #54c0eb;
$white: #f1e8e8;
$black: #2a2929;

$bx-accent: 0 4px4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Dosis', sans-serif;

$mobile: 480px;
