@import './variables';

body {
	background-color: $black;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	min-width: 320px;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}
}

*::-moz-placeholder {
	color: bisque;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: bisque;
	opacity: 1;
}

html,
body {
	height: 100%;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	height: 100%;
}

.heading {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}
