@import 'src/assets/styles/animations';
@import 'src/assets/styles/variables';

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			margin: 0 20px;
			position: relative;
			text-align: center;

			a {
				color: white;
				text-decoration: none;
				padding: 10px 5px;
				border-radius: 4px;
				transition: background-color 0.3s, color 0.3s;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -5px;
				height: 2px;
				background-color: white;
				opacity: 0;
				transition: opacity 1s ease, transform 0.3s ease;
				transform: scaleX(0);
			}

			&:hover::after {
				opacity: 1;
				transform: scaleX(1);
			}
		}
	}
}

@media (max-width: 768px) {
	.nav {
		display: none;

		&.open {
			display: block;
			position: absolute;
			top: 60px;
			left: 0;
			width: calc(100% - 20px);
			background-color: $accent;
			z-index: 999;

			ul {
				flex-direction: column;
				align-items: flex-start;

				li {
					margin: 10px 0;
				}
			}
		}
	}
}

@media (max-width: 1006px) {
	.nav {
		font-size: 16px;
	}
}
